<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="adminlogin.css">
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    
    
<header>
    
    <h2>Admin Pannel</h2>
    <img src="memehublogo.jpg" width="60" height="30">
    <a href="/adminlogout"><button class="adminlogout">Logout</button></a>
</header>
<div class="side-nav">
    <ul>
        <li><a href="/dashboard">Approval</a></li>
        <li><a href="#">Reported</a></li>
    </ul>
</div>
{{{body}}}
     
  
    
</body>
</html>