<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme Hub</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/6957f85b90.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="loader">
    <div class="preloader">
        <div class="center">
            <div class="large">
                <div class="medium">
                    <div class="small">
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
    <header class="row mx-auto align align-items-center navbar navbar-expand-lg navbar-expand-sm fixed-top">
        <div class="logo col-md-1"><a href="/">
            <img data-src="memehublogo.jpg" width="60" height="30"></a>
        </div>
        <div class="categories col-md-1 mx-auto">
                <div class="hover">
                    <span class="fontstyle">Categories</span>
                        <div class="list">
                        <ul>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                    
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        
                        
                    </ul>
                    </div>
                </div>
                  
                
                    
            
        </div>
        <div class="search-bar col-md-4 mx-auto">
            <form action="/search" method="get">
            <input type="text" placeholder="You are one step away" class="form-control text" name="search">
            <input type="submit" class="search-button">
            </form>

        </div>
        <div class="template col-md-2">
            <span class="fontstyle"><a href="#">Template</a></span>

        </div>

        <div class="wishlist col-md-1">
            <a href="/mywishlist"><span class="fontstyle"> Saved</span></a>

        </div>

        <div class="login-signup col-md-1">
            <span class="fontstyle">{{{logIn}}}</span>

        </div>
        
        
    </header>
    <div class="side-nav">
       <ul>
           <a href="#"><li>Home</li></a>
           <a href="#"><li>Explore</li></a>
           <a href="/trending"><li>Trending</li></a>
           <a href="#"><li>What's New</li></a>
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Upload
            </button>
       </ul>
    </div>
     <!-- Modal -->
    <div class="modal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload your Meme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form container justify-content-center" action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="meme" style="border: 1px solid #b5b0b0"><br><br>
                        <select required name="title">
                            <option value="">Select category</option>
                            <option value="funny" >Funny</option>
                            <option value="bollywood">Bollywood</option>
                            <option value="sarcasm">Sarcasm</option>
                            <option value="random">Random</option>
                        </select><br><br>
                        <input type="text" name="tag" id="category" placeholder="#tags"><br><br>
                        {{!-- <input type="submit"> --}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div> --}}
            </div>
        </div>
    </div>
    <div class="promoted">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Muting the family WhatsApp group for an entire year is my culture. <br>What&#39;s yours?</p>&mdash; Anish Karkera (@Anish_Karkera) <a href="https://twitter.com/Anish_Karkera/status/1197390854291382272?ref_src=twsrc%5Etfw">November 21, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
    {{{body}}}
    
    <script src="postupload.js"></script>
    <script src="main.js"></script>
    <script>
  var images = document.querySelectorAll('img');
  var observer = new IntersectionObserver(function(entries,observer){
    entries.forEach(entry => {
      if(entry.isIntersecting){
        var img = entry.target;
        img.setAttribute('src',img.getAttribute('data-src'));
        observer.unobserve(entry.target);
      }
    })
  },{
      rootMargin:'0px 0px -5% 0px',
      
  });
  images.forEach(img => {
    observer.observe(img);
  })
</script>
</body>
</html>