<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme Hub</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/6957f85b90.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="row mx-auto align align-items-center navbar navbar-expand-lg navbar-expand-sm fixed-top">
<<<<<<< HEAD
        <a href="/"><div class="logo col-md-1">Logo</div></a>
        <div class="categories col-md-1 mx-auto">
            <a href=""><span>Categories</span></a>
                <div class="categoty-list row">
                    <ul class="col-md-4">
=======
        <div class="logo col-md-1"><a href="/">
            <img src="memehublogo.jpg" width="60" height="30"></a>
        </div>
        <div class="categories col-md-1 mx-auto">
                <div class="hover">
                    <span class="fontstyle">Categories</span>
                        <div class="list">
                        <ul>
>>>>>>> e68743fec2a56fae76683c1fcac205849f5c0ad6
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                    
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">List</a></li>
                        
                        
                    </ul>
                    </div>
                </div>
                  
                
                    
            
        </div>
        <div class="search-bar col-md-4 mx-auto">
            <input type="text" placeholder="You are one step away" class="form-control">

        </div>
        <div class="template col-md-2">
            <span class="fontstyle"><a href="#">Template</a></span>

        </div>

        <div class="wishlist col-md-1">
            <span>Icon</span>

        </div>

        <div class="login-signup col-md-1">
            <span class="fontstyle">{{{logIn}}}</span>

        </div>
        
        
    </header>
    <div class="side-nav">
       <ul>
<<<<<<< HEAD
           <li><a href="/">Home</a></li>
           <li><a href="#">Explore</a></li>
           <li><a href="#">Trending</a></li>
           <li><a href="#">What's New</a></li>
           <li><a href="#" id="upload">Upload</a></li>
=======
           <a href="#"><li>Home</li></a>
           <a href="#"><li>Explore</li></a>
           <a href="#"><li>Trending</li></a>
           <a href="#"><li>What's New</li></a>
           <a href="#" id="upload"><li>Upload</li></a>
>>>>>>> e68743fec2a56fae76683c1fcac205849f5c0ad6
       </ul>
    </div>
    <div class="promoted">
        Promoted
    </div>
    
    {{{body}}}
    
    <script src="postupload.js"></script>
</body>
</html>