<header>
    
    <h2>Admin Pannel</h2>
    <img src="memehublogo.jpg" width="60" height="30">
    <a href="/adminlogout"><button class="adminlogout">Logout</button></a>
</header>
<div class="side-nav">
    <ul>
        <li><a href="#">Approval</a></li>
        <li><a href="#">Reported</a></li>
    </ul>
</div>