<div class="content">

{{#each data}}

<div class="post">
    <div class="titledesign"></div><div class="categoryTitle"><span>{{this.title}}</span></div>

    <div class="image">
        <img class="content-image" src="{{this.image}}">
    </div>
{{/each}}
</div>


