<div class="popup">
     <div class="container mt-5 ">
         <div class="row mt-5">
             <div class="col-md-4 ">
                 <div class="container">
                     <div class="login center">
                         {{!-- {{#if error}}
                         <div class="login center hideLogin" style="display: none;"></div>
                         <div class="inputField center" style="display: block;">
                             <form action="/signin" method="POST">
                                 <input id="usernameLogin" type="text" class="form-control mx-auto inputDetail"
                                     placeholder="Username" name="userName" required>
                                 <input id="passwordLogin" type="password" class="form-control  mx-auto inputDetail"
                                     placeholder="Password" name="password" required>
                                 <p style="color: brown;">Error</p><br>
                                 <button type="submit" class=" loginDesign" id="loginSubmit">Login</button>
                             </form>
                         </div>
                         {{else}} --}}
                         <div class="login center hideLogin">
                             <h1 class="center colors">Welcome Back</h1>
                             <p class="center colors">We Love People Who Share Happiness</p>
                             <button class="buttonLogin loginDesign" id="loginClick">Login</button>
                         </div>
                         {{!-- {{/if}} --}}
                         <div class="inputField center">
                             <form id="loginForm" action="/signin" method="POST">
                                 <input id="usernameLogin" type="text" class="form-control mx-auto inputDetail"
                                     placeholder="Username" name="userName" required>
                                 <input id="passwordLogin" type="password" class="form-control  mx-auto inputDetail"
                                     placeholder="Password" name="password" required>
                                 <p id="loginError" style="color: red;"></p>
                                 <p id='forgotPass' style="color: white;">Forgot Password</p>
                                 <button type="submit" class=" loginDesign" id="loginSubmit">Login</button>
                             </form>
                         </div>
                         <div class="forPass center" style="display: none;">
                             <form id="forPassForm" action="/forPass" method="POST">
                                 <input id="usernameLogin" type="text" class="form-control mx-auto inputDetail"
                                     placeholder="Username" name="userName" required>
                                 <select class="form-control  mx-auto inputDetail" name="securityQuestion" required>
                                     <option value="petName">Pet Name</option>
                                     <option value="middleName">Middle Name</option>
                                     <option value="grandParentsName">Grand Parents Name</option>
                                 </select>
                                 <input type="text" class="form-control  mx-auto inputDetail" placeholder="Answer"
                                     name="securityAnswer" required>
                                 <p id="forPassError" style="color: red;"></p>
                                 <p style="color: white;">Enter New Password</p>
                                 <input type="password" class="form-control  mx-auto inputDetail" placeholder="New Password"
                                     name="newPassword" required>
                                 <p id='backToLogin' style="color: white;">Back to Log-in</p>
                                 <button type="submit" class=" loginDesign" id="forPassSub" style="width: 150px;">Change
                                     Password</button>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-8">
                 <div class="container">
                     <div class="signup center">
                         <div class="signupPage">
                             <h1 class="signupCol colors">Join US</h1>
                             <p class="signupCol colors">The Fastest Growing Meme Community</p>
                         </div>
                         <div class="signupPage inputFieldSignUP ">
                             <form id="signUpForm" action="/signup" method="POST">
                                 <input id="firstname" type="text" class="form-control mx-auto inputDetail"
                                     placeholder="First Name" name="firstName" required>
                                 <input id="lastname" type="text" class="form-control mx-auto inputDetail"
                                     placeholder="Last Name" name="lastName" required>
                                 <input id="emailSign" type="email" class="form-control mx-auto inputDetail"
                                     placeholder="Email-Id" name="email" required>
                                 <input id="usernameSign" type="text" class="form-control mx-auto inputDetail"
                                     placeholder="Username" name="userName" required>
                                 <input id="passwordSign" type="password" class="form-control  mx-auto inputDetail"
                                     placeholder="Password" name="password" required>
                                 <input id="confirmPasswordSign" type="password"
                                     class="form-control  mx-auto inputDetail" placeholder="Confirm Password" name="conPassword"required>
                                 <select class="form-control  mx-auto inputDetail" name="securityQuestion" required>
                                     <option value="petName">Pet Name</option> 
                                     <option value="middleName">Middle Name</option>
                                     <option value="grandParentsName">Grand Parents Name</option>
                                 </select>
                                 <input type="text" class="form-control  mx-auto inputDetail" placeholder="Answer"
                                     name="securityAnswer" required>
                                 <button type="submit" class=" loginDesign" id="submitClick">SignUP</button>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 {{!-- modal --}}
 <button id="loginModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#errorModal"
     style="margin-top: 50px;" hidden>
     Launch demo modal
 </button>
 <!-- Modal -->
 <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="errorModalLabel">You have to be Logged-in first</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
 </div>
 {{!----}}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
 </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
 </script>
 <script src="login.js"></script>