<div class="card" id="memecontainer">
    <p class="top">TOP</p>
    <p class="bottom">Bottom</p>
    <img src="https://indianmemetemplates.com/storage/happy-pepe-the-forg.jpg" width="100" height="100" id="meme">
</div>
<div class="controls" id="controls">
    <input type="text" id="url" name="" value="https://indianmemetemplates.com/storage/happy-pepe-the-forg.jpg"
        placeholder="image URL">
    <input type="text" id="msgtop" name="" onkeypress="setTop()" placeholder="Top Text">
    <input type="text" id="msgbtm" name="" onkeypress="setBottom()" value="" placeholder="Top Text">
    <button type="button" id="generate" name="button">Generate</button>
</div>
<img class="card" src="" id="output">
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
    function setTop() {
        //document.getElementById('top').innerHTML=msgtop.value
        var top = $('#msgtop').val();
        $('.top').text(top);
    }

    function setBottom() {
        // document.getElementById('bottom').innerHTML=msgtop.value
        var bottom = $('#msgbtm').val();
        $('.bottom').text(bottom);
    }
    document.getElementById('generate').addEventListener('click', function () {
        var msgtop = document.getElementById('msgtop').value
        var msgbottom = document.getElementById('msgbtm').value
        var url = document.getElementById('url').value
        document.getElementById('meme').src = url
        console.log("value", msgtop, url);
        //html2canvas(document.body).then(function(canvas) {
        // document.body.appendChild(canvas);
        //});
        html2canvas(document.getElementById('memecontainer')).then(function (canvas) {
            document.getElementById('output').src = canvas.toDataURL('image/png');
            console.log("This", canvas.toDataURL);
        })
    });
</script>