  <br>
    <br>
    <br>
    <br>
<div class="content">
  
    <form class="form" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="meme">
        <input type="text" name="category" id="category" placeholder="category">
        {{!-- <select required>
                            <option value="">None</option>
                            <option value="funny" >Funny</option>
                            <option value="bollywood">Bollywood</option>
                            <option value="sarcasm">Sarcasm</option>
                            <option value="random">Random</option>
                        </select> --}}
        <input type="submit">
    </form>
</div>
