<div class="popup">
    <div class="container mt-5 ">
        <div class="row mt-5">
            <div class="col-md-4 mt-5">
                <div class="container">
                    <input type="text">
                    {{!-- <input type="image" placeholder="upload image"> --}}
                    <input type="text" name="category" id="category" placeholder="categoty">
                </div>
            </div>
        </div>
    </div>
</div>