<div class="container">
            <div class="row m-y-2">
                <div class="col-lg-8 push-lg-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                        </li>
                       
                        <li class="nav-item">
                            <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                        </li>
                    </ul>
                    <div class="tab-content p-b-3">
                        <div class="tab-pane active" id="profile">
                            <h4 class="m-y-2">User Profile</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Info</h6>
                                    <ul>
                                        <li>Username:</li>
                                        <li>Fullname:</li>
                                        <li>Email:</li>
                                    </ul>
                                    <h6>Intro</h6>
                                    <p>
                                        Add your bio here.
                                    </p>
                                    <h6>Following hashtags</h6>
                                    <p>
                                        Animals, Pets, Coding, Funny
                                    </p>
                                </div>
                                
                                <div class="col-md-12">
                                    
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                     
                        <div class="tab-pane" id="edit">
                            <h4 class="m-y-2">Edit Profile</h4>
                            <form role="form">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Full name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="email" >
                                    </div>
                                </div>
                            
                               
                                
                               
                               
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="password" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="password" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancel">
                                        <input type="button" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pull-lg-8 text-xs-center">
                    <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar">
                    <h6 class="m-t-2">Upload a different photo</h6>
                    <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input">
                        <span class="custom-file-control">Choose file</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>