.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #191919;
    /* background-image: linear-gradient(to right, #9c5ffb, #a85dfb, #b45bfa, #c059f9, #cb57f8, #cb57f8, #cb57f8, #cb57f8, #c059f9, #b45bfa, #a85dfb, #9c5ffb); */
}
.adminLoginButton{
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius:10px;
    height: 40px;
    width: 100px;
    position: relative;
    
    outline: none;
}
.loginheader img{
    border-radius: 15px;
}
.loginheader span{
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
}
.loginheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logincontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}