.box{
    overflow: visible;
    display: flex;
    position: absolute;
    /* clip-path: polygon(0 50%, 100% 25%, 100% 100%, 0% 100%); */
    /* clip-path: polygon(34% 6%, 100% 25%, 87% 88%, 11% 87%); */
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
    height: 100vh;
    background: #cccccc;
    /* background-image: linear-gradient(to right, #9c5ffb, #a85dfb, #b45bfa, #c059f9, #cb57f8, #cb57f8, #cb57f8, #cb57f8, #c059f9, #b45bfa, #a85dfb, #9c5ffb); */
}
.adminLoginButton{
    background: rgb(0, 0, 0);
    border: 2px solid #ffffff;
    color: white;
    border-radius:10px;
    height: 40px;
    width: 100px;
    position: relative;
    
    outline: none;
}
.loginheader img{
    border-radius: 15px;
}
.loginheader span{
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
}
.loginheader{
    /* z-index: 999; */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 20px;
}
.black{
    background: black;
    border-radius: 10px;
}
.logincontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -33px;
    background: #131313;
}