.content{
    margin-top: 200px;
    height: auto;
    border: 1px solid #999999;
    position: absolute;
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
    background: rgb(255, 255, 255);
    width: 600px;
    /* top: 65px; */
    left: 28%;
    /* box-shadow: -4px 7px 20px 0px #d2c2be; */
}
.image{
    margin: 5px auto;
    display: flex;
    max-width: 99%;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 10px;
}
.content-image{
    max-width: 100%;
    max-height: 400px;
}
.post{
    display: flex;
    flex-direction: column;
}
.main-reaction{
    display: block
}
.displaylikenumbers{
    display: block;
}
.reactionandshare{
    display: flex;
}
.reaction, .share{
    display: flex;
}
.share{
    float: right;
    /* position: relative; */
    /* top: -25px; */
}