.content{
    margin-top: 50px;
    height: auto;
    /* border: 1px solid #999999; */
    position: absolute;
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
    background: rgb(255, 255, 255);
    width: 600px;
    /* top: 65px; */
    left: 25%;
    padding: 7px;
    /* box-shadow: -4px 7px 20px 0px #d2c2be; */
}
.image{
    margin: 5px auto;
    display: flex;
    max-width: 99%;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 10px;
}
.content-image{
    max-width: 100%;
    max-height: 400px;
}
.post{
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    /* box-shadow: 0px 1px 5px 0px #c4c4c4; */
}
.main-reaction{
    display: block;
    background: #ededed;
    border-radius: 8px;
    padding-right: 0px;
}
.displaylikenumbers{
    display: inline-block;
    position: relative;
    top: 24px;
    left: 20px;
}
.reactionandshare{
    display: flex;
    position: relative;
    width: 580px;
    height: 49px;
}
.reaction, .share{
    display: flex;
}
.share{
    float: right;
    display: flex
    /* top: -25px; */;
    /* background-color: white; */
    position: absolute;
    right: 17px;
}
.likebutton{
    position: relative;
    top: -12px;
    left: 37px;
}

.comment{
    position: relative;
    left: 165px;
    top: 0px;
}
.flagImage{
    height: 27px;
    width: 22px;
    cursor: pointer;
}
.flag{
    position: absolute;
    right: 24px;
}
.comment .showComments{
    background: none;
    color: black;
    border: none;
    font-weight: 500;
    font-family: sans-serif;
    margin: -6px;
}
.commentimagesize{
    height: 22px;
    width: 25px;
}
.showComments:active{
    background: none;
}
.showComments:focus{
    outline: none;
}
.save{
    position: relative;
    left: 203px;
    top: 31px;
    height: 0;
}
.reactioncm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
.displaylikenumberscm{
    position: relative;
    left: 55px;
    font-family: sans-serif;
}