.content{
    margin-top: 170px;
    height: auto;
    border: 1px solid #c558f9;
    position: absolute;
    display: block;
    
    align-items: center;
    justify-content: center;
    background: rgb(249, 249, 249);
    width: 600px;
    top: 65px;
    left: 28%;
    box-shadow: -4px 7px 20px 0px #d2c2be;
}
.image{
    margin: 5px auto;
    display: flex;
    max-width: 90%;
    justify-content: center;
}
.content-image{
    max-width: 100%;
    max-height: 400px;
}