@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    margin: 0;
    padding: 0;
    
}
.loader{
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99998;
  
  background: rgba(224, 224, 224, 0.9);
}
.preloader{
  position: absolute;
  z-index: 99999;
  transform: translateY(50%);
 
  
  
}
.center{
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.dot{
  width: 10px;
  height: 10px;
  background: #f00;
  border-radius: 50%;
}
.small{
  padding: 10px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid #262626;
  border-left: 2px solid #262626;
  border-radius: 50%;
  animation: small 1s linear infinite;
}
.medium{
  padding: 10px;
  border-top: 2px solid #262626;
  border-right: 2px solid #262626;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 50%;
  animation: medium 1s linear infinite;
}
.large{
  padding: 10px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid #262626;
  border-left: 2px solid #262626;
  border-radius: 50%;
  animation: large 2s linear infinite;
}
@keyframes small
{
     0%
     {
       transform: rotate(720deg);
     }
     100%
     {
       transform: rotate(0deg);
     }
}
@keyframes medium
{
     0%
     {
       transform: rotate(720deg);
     }
     100%
     {
       transform: rotate(0deg);
     }
}
@keyframes large
{
     0%
     {
       transform: rotate(0deg);
     }
     100%
     {
       transform: rotate(720deg);
     }
}



header{
    width: 100%;
    height: 50px;
    background: black;
    position: fixed;
    z-index: 99;
}
.list{
    position: absolute;
    left: -35px;
    top: 35px;
    width: 200px;
    visibility: hidden;
    box-shadow: 1px 2px 8px 1px #aca2a2;
    background: rgba(255,255,255,1);
    transition: .5s;
    opacity: 0;
    transform: translateY(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 80vh;
    font-family: 'Lato', sans-serif;
}
.list ul{
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.list ul li{
    /* margin: 8px; */
    width: 100%;
    height: 34px;
}
.list ul li:hover{
    /* background: #1b1b1b; */
    color: white;
}
.list ul a:hover{
    width: 100%;
    background: #1b1b1b;
    color: white;
    border-radius: 5px;
    height: 100%;
}
.list ul li a{
    text-decoration: none;
    padding: 4px 49px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    justify-content: center;
}
.hover{
    cursor: pointer;

}
.hover:hover{
    background: rgb(19, 19, 19);
    border-radius: 10px;
}
.hover:hover .list{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.fontstyle, .fontstyle a{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    
}
.search-button{
    background: url("search.jpg");
    background-size: cover;
    width: 30px;
    height: 32px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    z-index: 2;
}
.search-bar form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    width: 0px;
    height: 23px;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    left: 28px;
    z-index: -1;
}
.search-bar form:hover .text{
    width: 206px;
    height: 32px;
    left: 0;
    z-index: 2;
}



.side-nav{
    position: fixed;
    top: 100px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.side-nav ul a{
    
color: rgb(48, 48, 48);
    
font-size: 25px;
    
text-decoration: none;
    
/* width: auto; */
}
.side-nav ul a:hover{
    
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.side-nav ul a li:hover {
    
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transform: translateX(1%);
}
.side-nav ul{
    list-style: none;
}
.side-nav ul li{
    margin-top: 8px;
    width: auto;
    max-width: 169px;
    margin-right: 6px;
    padding-left: 5px;

}


.side-nav{
    margin-left: 50px;
}
#upload{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    border-radius: 25px;
    margin-top: 40px;
    width: 181px;
}
#upload li:hover{
    color: rgb(240, 240, 240);
    transform: translateY(-1%);
}
#upload:hover{
    color: rgb(240, 240, 240);
    transform: translateY(-1%);
    box-shadow: 0px 6px 20px 1px #cccccc;
}
.promoted{
    position: fixed;
    top: 73px;
    right: 10px;
    width: 341px;
    height: 80vh;
    overflow: scroll;
    background: #e3e3e3;
    border-radius: 5px;

  -webkit-scrollbar{
      width: 1em;
      height: 1em;
  }
  ::-webkit-scrollbar-button {
      background: #ccc;
  }
  ::-webkit-scrollbar-track-piece {
      background: #888;
  }
  ::-webkit-scrollbar-thumb {
      background: #eee;
  }
}
.wishlist{
  height: 41px;
  display: flex;
  justify-content: center;
  width: 41px;
  align-items: center;
  display: f;
}

.wishlistcontent{
  height: 41px;
  width: 41px;
  position: relative;
  right: -240px;
  top: -2px;
}
.postwishlist{
  height: 29px;
  width: 29px;
}
.displaylikenumbers span{
  font-family: sans-serif;
  font-weight: bold;
  color:rgb(0, 84, 0);
  font-size: 13px;
  position: relative;
  left: 45px;
}




.heart {
    width: 20px;
    height: 20px;
    transform: translateZ(0);
    color: #aaa;
    font-size: 3em;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    left: 35%;
    /* margin-top:160px; */
  }
  .heart:hover {
    animation: pulse .6s linear;
  }
  .heart:before {
    content: "❤";
    position: absolute;
    color: #A12B2B;
    opacity: 0;
  }
  .heart.happy {
    color: #A12B2B;
  }
  .heart.happy:before {
    opacity: 0;
    transform: translateY(-30px) rotateZ(5deg);
    animation: fly 1s ease;
  }
  .heart.broken {
    color: #aaa;
    position: relative;
    transition: all .3s ease;
  }
  .heart.broken:before, .heart.broken:after {
    content: "❤";
    opacity: 1;
    color: #ccc;
    position: absolute;
    top: -150px;
    transform: scale(3) rotateZ(0);
  }
  .heart.broken:before {
    clip: rect(0, 20px, 200px, 0);
    animation: break-left 1s ease forwards;
  }
  .heart.broken:after {
    clip: rect(0, 50px, 200px, 25px);
    animation: break-right 1s ease forwards;
  }
  @keyframes pulse {
    50% {
      transform: scale(1.1);
    }
  }
  @keyframes fly {
    0% {
      opacity: 0;
      transform: translateY(-20px) rotateZ(15deg);
    }
    50% {
      opacity: .75;
      transform: scale(4) translateY(-30px) rotateZ(-15deg);
    }
    100% {
      opacity: 0;
      transform: scale(4) translateY(-50px) rotateZ(15deg);
    }
  }
  @keyframes break-left {
    0% {
      opacity: 1;
      transform: scale(3) rotateZ(0);
    }
    20% {
      opacity: .5;
      transform: scale(3) translateX(-10px) rotateZ(-20deg) translateY(0);
    }
    50% {
      opacity: .5;
      transform: scale(3) translateX(-10px) rotateZ(-20deg) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(3) translateX(-30px) rotateZ(-25deg) translateY(50px);
    }
  }
  @keyframes break-right {
    0% {
      opacity: 1;
      transform: scale(3) rotateZ(0);
    }
    20% {
      opacity: .5;
      transform: scale(3) translateX(10px) rotateZ(20deg) translateY(0);
    }
    50% {
      opacity: .5;
      transform: scale(3) translateX(10px) rotateZ(20deg) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(3) translateX(30px) rotateZ(25deg) translateY(50px);
    }
  }
  .categoryTitle{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    width: 152px;
    height: 20px;
    background: black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    position: relative;
    left: -25px;
    padding-left: 5px;
  }
  .titledesign{
    height: 16px;
    width: 21px;
    background: #484848;
    position: relative;
    top: 24px;
    left: -25px;
    transform: skewY(24deg);
  }

#upload li{
  margin: 6px;
}
.wishlist a{
  text-decoration: none;

}