@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    margin: 0;
    padding: 0;
    
}
header{
    width: 100%;
    height: 50px;
    background: black;
    position: fixed;
    z-index: 99;
}
.list{
    position: absolute;
    left: -35px;
    top: 35px;
    width: 200px;
    visibility: hidden;
    box-shadow: 1px 2px 8px 1px #aca2a2;
    background: rgba(255,255,255,1);
    transition: .5s;
    opacity: 0;
    transform: translateY(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 80vh;
    font-family: 'Lato', sans-serif;
}
.list ul{
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.list ul li{
    /* margin: 8px; */
    width: 100%;
    height: 34px;
}
.list ul li:hover{
    /* background: #1b1b1b; */
    color: white;
}
.list ul a:hover{
    width: 100%;
    background: #1b1b1b;
    color: white;
    border-radius: 5px;
    height: 100%;
}
.list ul li a{
    text-decoration: none;
    padding: 4px 49px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    justify-content: center;
}
.hover{
    cursor: pointer;

}
.hover:hover{
    background: rgb(19, 19, 19);
    border-radius: 10px;
}
.hover:hover .list{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.fontstyle, .fontstyle a{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    
}



.side-nav{
    position: fixed;
    top: 100px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.side-nav ul a{
    
color: rgb(48, 48, 48);
    
font-size: 25px;
    
text-decoration: none;
    
/* width: auto; */
}
.side-nav ul a:hover{
    
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.side-nav ul a li:hover {
    
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transform: translateX(1%);
}
.side-nav ul{
    list-style: none;
}
.side-nav ul li{
    margin-top: 8px;
    width: auto;
    max-width: 169px;
    margin-right: 6px;
    padding-left: 5px;

}


.side-nav{
    margin-left: 50px;
}
#upload{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    border-radius: 25px;
    margin-top: 40px;
}
#upload li:hover{
    color: rgb(240, 240, 240);
    transform: translateY(-1%);
}
#upload:hover{
    color: rgb(240, 240, 240);
    transform: translateY(-1%);
    box-shadow: 0px 6px 20px 1px #cccccc;
}
.promoted{
    position: fixed;
    top: 100px;
    right: 10px;
    width: 200px;
    height: 80vh;
    overflow: scroll;
    background: #979797
}